# .gitignore
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
*.env
*.sqlite3
*.db
*.log
*.pid
*.sock
*.pid.lock
*.pot
*.po
*.mo
*.db
*.sql
*.sqlite
*.sqlite3
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~